@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
    font-family: "open_sanslight" !important;
}
footer { 
    display: block;
}
.lorem{
    position:absolute;
    right:19%;
    left:32%; 
    bottom:0; 
    top: 16.5%;
    padding-left: 18.5%;
    padding-right: 3%;
    padding-top: 7%;
    padding-bottom: 13%;
    width: 50%; 
    height: 41%;
    border-style: solid;
}


.inovatif{
    border-bottom: 2px solid black;
}

.right{
    text-align: right;
}

.makine-banlama{
    margin-top: 13%;
}

.mb-15{
    margin-bottom: 15%;
}

.mt-25{
    margin-top: 25%;
}

.pr-10{
    padding-right: 10%;
}

.p-10{
    padding-left: 10%;
}
.bg-secon{
    background-color: #DCDCDC;
}

.prl-10{
    padding-left: 30%;
}


.a:link, .a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .a:hover, .a:active {
    color: black;
    text-decoration: none;
  }

  .a1:link, .a1:visited {
    color: white;
    padding-top: 12px;
    padding-right: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .a1:hover, .a1:active {
    color: black;
    text-decoration: none;
  }

  .a2:link, .a2:visited {
    color: white;
    padding-top: 12px;
    padding-right: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .a2:hover, .a2:active {
    color: black;
    text-decoration: none;
  }


.width-height{
      width:70vh;
      height: 70vh;
      margin-left: 10vh;
}

.boyut-right{
    width:70vh;
    height: 85vh;
    z-index: -1;
  }

.boyut-left{
    width:70vh;
    height: 75vh;
    z-index: -1;
  }

.konum-right{
    position:absolute;
    right:0; 
    bottom:0%; 
    top: 2%;
    text-align: initial;
    color: black;
}
.dondur{
    -ms-transform: rotate(-25deg); /* IE 9 */


    -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */


    transform: rotate(-25deg);
     
}
.sekil{
    -webkit-transform: skew(-30deg); 
    -moz-transform: skew(-30deg); 
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
}


.pt-10{
    padding-top: 25px;
}

.pt-50{
    padding-top: 40%;
    padding-left: 5%;
    padding-right: 5%;
}
.font{
    font-family: "Times New Roman", Times, serif;
}

.konum-left{
    position:absolute;
    left:0; 
    bottom:0; 
    top: -10%;
}

.index{
    z-index: 1;
}

.index-2{
    z-index: 2;
}




  .bg-img-1{
    background-image: url("Katman15.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
    height: 65vh;
    text-align: right;
}
.bg-img-3{
    background-image: url("bg1.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
    height: 65vh;
    text-align: right;
}
.bg-img-4{
    background-image: url("bg2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
    height: 65vh;
    text-align: right;
}
.bg-img-5{
    background-color: red;
    width: 70%;
    height: 65vh;
    position: absolute;
    right: 0;
    transition: 0.3s;
    z-index: 1;
}
.bg-img-2{
    background-image: url("Dikdörtgen 5.png");
    width: 70%;
    height: 65vh;
    position: absolute;
    right: 0;
    z-index: 1;
}
.height-70{
    height: 70vh;
}

.ic{
    border: 5px solid white;
    position:center;
    width: auto;
    height: 40vh;
    margin-left: 10vh;
    margin-right: 30vh;
    text-align: left;
    padding-left: 30vh;
    padding-right: 5vh;
    padding-top: 8vh;
    font-size: 17px;
    margin-top: 12vh;
    color: white;
    z-index: 0;
}
.dondur{
    -ms-transform: rotate(-25deg); /* IE 9 */


    -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */


    transform: rotate(-25deg);
    
}
.sekil{
    -webkit-transform: skew(-30deg); 
    -moz-transform: skew(-30deg); 
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
}
.konum-center{
    position:absolute;
    left:27%;
    text-align: initial;
    color: white;
    width: auto;
    height: 7%;
    z-index: 3;
    margin-top: 30vh;
}

.konum-center-1{
    position:absolute;
    color: black;
    left:22%;
    width: auto;
    height: 10%;
    text-align: center;
    z-index: 2;
    margin-top: 35vh;

}
.z-index-4{
    z-index: 4;
}

.mySlides {
    display:none
}
.w3-left, .w3-right {
    cursor:pointer
}
.w3-badge {
    height:20px;
    width:20px;
    padding:0
}

.display-right{
    position:absolute;
    top: 50%;
    right: -92.5%;
    transform: translate(0%,-50%);
}
.display-right-2{
    position:absolute;
    top: 37.5%;
    right: -88.5%;
    transform: translate(0%,-50%);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
}