/* open-sans-300 - latin-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v17-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light'), local('OpenSans-Light'),
         url('../fonts/open-sans-v17-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin-ext_latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin-ext_latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v17-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin-ext_latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600 - latin-ext_latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v17-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
         url('../fonts/open-sans-v17-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin-ext_latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin-ext_latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v17-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('../fonts/open-sans-v17-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin-ext_latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-800 - latin-ext_latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v17-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
         url('../fonts/open-sans-v17-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin-ext_latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
  }


body{
    font-family: "Open Sans" !important;
}
footer { 
    display: block;
}
.lorem{
    position:absolute;
    right:19%;
    left:32%; 
    bottom:0; 
    top: 16.5%;
    padding-left: 18.5%;
    padding-right: 3%;
    padding-top: 7%;
    padding-bottom: 13%;
    width: 50%; 
    height: 41%;
    border-style: solid;
}


.inovatif{
    border-bottom: 2px solid black;
}

.right{
    text-align: right;
}

.makine-banlama{
    margin-top: 13%;
}
.mr-left{
    margin-right: 34%;
}
.mb-15{
    margin-bottom: 15%;
}

.mt-25{
    margin-top: 25%;
}

.pr-10{
    padding-right: 10%;
}

.p-10{
    padding-left: 10%;
}
.bg-secon{
    background-color: #DCDCDC;
}

.prl-10{
    padding-left: 30%;
}


.a:link, .a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .a:hover, .a:active {
    color: black;
    text-decoration: none;
  }

  .a1:link, .a1:visited {
    color: white;
    padding-top: 12px;
    padding-right: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .a1{
      font-size: 15px;
  }
  .a1:hover, .a1:active {
    color: black;
    text-decoration: none;
  }

  .a2:link, .a2:visited {
    color: white;
    padding-top: 12px;
    padding-right: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .a2:hover, .a2:active {
    color: black;
    text-decoration: none;
  }


.width-height{
      width:70vh;
      height: 70vh;
      margin-left: 10vh;
}

.boyut-right{
    width:70vh;
    height: 90vh;
    z-index: -1;
  }

.boyut-left{
    width:70vh;
    height: 80%;
    z-index: -1;
  }

.konum-right{
    position:absolute;
    right:0; 
    bottom:-10vh; 
    top: -15%;
    text-align: initial;
    color: black;
    
}

.bg-light2{
    background-color:darkgrey;
}
.boyut1{
    position:absolute;
    width: 70vh;
    right: 20vh;
}


.konum-left{
    position:absolute;
    left:0; 
    bottom:-8vh; 
    top: -10%;
}


.pt-10{
    padding-top: 25px;
}

.pt-50{
    padding-top: 57%;
    padding-left: 5%;
    padding-right: 12%;
}
.font{
    font-family: "Times New Roman", Times, serif;
}


.index{
    z-index: 1;
}

.index-2{
    z-index: 2;
}




  .bg-img-1{
    background-image: url("Katman15.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
    height: 70vh;
    text-align: right;
}
.bg-img-3{
    background-image: url("dekorasyon1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
    height: 70vh;
    text-align: right;
}
.bg-img-4{
    background-image: url("dekarasyon2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
    height: 70vh;
    text-align: right;
}
.bg-img-5{
    background-color: red;
    width: 70%;
    height: 70vh;
    position: absolute;
    opacity: 0.8;
    right: 0;
    z-index: 1;
}
.bg-img-7{
    background-color: blueviolet;
    width: 70%;
    height: 70vh;
    position: absolute;
    opacity: 0.8;
    right: 0;
    z-index: 1;
}
.bg-img-6{
    background-image: url("dekarasyon3.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
    height: 70vh;
    text-align: right;
}
.bg-img-2{
    background-image: url("Dikdörtgen 5.png");
    width: 70%;
    height: 70vh;
    position: absolute;
    right: 0;
    z-index: 1;
}
.height-70{
    height: 70vh;
}

.ic{
    border: 5px solid white;
    position:center;
    width: auto;
    height: 40vh;
    margin-left: 10vh;
    margin-right: 30vh;
    text-align: left;
    padding-left: 35vh;
    padding-right: 5vh;
    padding-top: 8vh;
    font-size: 17px;
    margin-top: 12vh;
    color: white;
    z-index: 0;
}

.dondur{
    -ms-transform: rotate(-18deg); /* IE 9 */


    -webkit-transform: rotate(-18deg); /* Chrome, Safari, Opera */


    transform: rotate(-18deg);
     
}
.sekil{
    -webkit-transform: skew(-22deg); 
    -moz-transform: skew(-22deg); 
    -o-transform: skew(-22deg);
    transform: skew(-22deg);
    
}

.konum-center{
    position:absolute;
    left:27%;
    text-align: initial;
    color: white;
    width: 40vh;
    height: 7%;
    z-index: 3;
    margin-top: 28vh;
}

.konum-center-1{
    position:absolute;
    color: black;
    left:22%;
    width: 55vh;
    height: 10%;
    text-align: center;
    z-index: 2;
    margin-top: 33vh;
    color: gray;

}
.z-index-4{
    z-index: 4;
}

.mySlides {
    display:none
}
.w3-left, .w3-right {
    cursor:pointer
}
.w3-badge {
    height:20px;
    width:20px;
    padding:0
}

.display-right{
    position:absolute;
    top: 50%;
    right: -92.5%;
    transform: translate(0%,-50%);
}
.display-right-2{
    position:absolute;
    top: 37.5%;
    right: -88.5%;
    transform: translate(0%,-50%);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: rgb(5,0,0);
    background-color: rgba(0,0,0);
    overflow-x: hidden;
    transition: 0.7s;
    opacity: 0.92;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@keyframes sagdanGelen {
    0% {
      right: -25vh;
    }
    100% {
      right: -15vh;
    }
  } 

.kenar-bant{
    width: 32vh;
    height: 8vh;
    position:absolute; 
    z-index: 8; 
    right: -15vh;
    top: 22vh;
    font-size: 15px;
    font-weight:700;
    box-shadow: 3px 3px 6px #000;
    border-radius: 3px;
    display: none;
    animation-name: sagdanGelen;
    animation-duration: 0.5s;
    
}

.kenar-bant-btn{
    position:absolute; 
    z-index:8; 
    right: -12vh;
    top: 17vh;
    font-size: 15px;
    font-weight:700;
    border-top:30px solid  rgb(87, 84, 84);
    border-left:30px solid transparent;
    border-right:30px solid transparent;
}

.kenar-bant-btn1{
    position:absolute; 
    z-index:8; 
    right: -12vh;
    top: 12vh;
    font-size: 15px;
    font-weight:700;
    border-bottom:30px solid rgb(87, 84, 84);
    border-left:30px solid transparent;
    border-right:30px solid transparent;
}


.sekil p,h5{
    transform: scale(22deg);
}





